.main {
  border-bottom: 1px solid #50958E;
  color: #50958E;
  display: block;
  font-size: 130px;
  font-weight: bold;
  font-family: 'Tangerine', cursive;
  text-align: center;
  text-shadow: 1px 1px 1px #0B1211;
}

.tabs {
  color: #A8B5B4;
  display: inline;
  font-size: 35px;
  font-family: 'PT Sans', sans-serif;
  list-style-type: none;
  text-decoration: none;
  text-shadow: 1px 1px 1px #0B1211;
  margin-left: 20px;
  margin-right: 20px;
}

.tabs:hover {
  color: #F0DB81;
  text-decoration: none;
}

.nav {
  text-align: right;
  margin-bottom: 20px;
  margin-left: 2px;
  margin-right: 2px;
}

.nav-one {
  background-color: #50958E;
  border: 2px solid #003630;
  box-shadow: 10px 10px 5px #A8B5B4;
  text-align: right;
  margin-bottom: 20px;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.home-image {
  border: .5px solid #0B1211;
  box-shadow: 10px 10px 5px #19675F;
  border-radius: 500px;
  display: block;
  margin: 20px;
}

.member {
  background-color: #50958E;
  border: 2px solid #003630;
  box-shadow: 10px 10px 5px #A8B5B4;
  color: #0B1211;
  font-family: 'PT Sans', sans-serif;
  margin: 20px;
  padding: 20px;
  text-align: right;
}

.member-one {
  color: #A8B5B4;
  font-size: 50px;
  font-weight: bold;
  margin-left: 40px;
  text-align: left;
  text-shadow: 1px 1px 1px #0B1211;
}

.member-two {
  font-size: 34px;
  margin-left: 40px;
  padding: 10px;
  text-align: left;
  text-shadow: 1px 1px 1px #A8B5B4;
}

.signin {
  font-size: 22px;
  margin-left: 40px;
}

.account {
  border-bottom: 1px solid #A8B5B4;
  color: #A8B5B4;
  font-size: 34px;
  margin-top: 10px;
  text-align: left;
  text-shadow: 1px 1px 1px #0B1211;
}

.user {
  color: #F0DB81;
  text-shadow: 1.5px 1.5px 1.5px #0B1211;
}

.selection {
  color: #F0DB81;
  display: block;
  font-size: 100px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  text-align: center;
  text-shadow: 3px 3px 3px #003630;
}

.options {
  background-color: #A8B5B4;
  border: 2px solid #0B1211;
  border-radius: 60px;
  box-shadow: 10px 10px 5px #50958E;
  color: #50958E;
  display: block;
  font-family: 'Tangerine', sans-serif;
  margin: 20px;
  margin-left: 60px;
  padding: 20px;
  text-align: center;
  text-shadow: 1px 1px 1px #0B1211;
}

.character-image {
  border: .5px solid #003630;
  box-shadow: 10px 10px 5px #A8B5B4;
  display: inline-block;
  margin: 20px;
  border-radius: 100px;
}

.character-name {
  border-bottom: 1px solid #50958E;
  color: #50958E;
  display: block;
  font-size: 90px;
  font-family: 'Tangerine', sans-serif;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 1px #003630;
}

.title {
  color: #0B1211;
  font-size: 40px;
  font-family: 'PT Sans', sans-serif;
  margin-top: 20px;
  text-align: left;
  text-shadow: 1px 1px 1px #50958E;
}