.main {
  border-bottom: 1px solid #50958E;
  color: #50958E;
  display: block;
  font-size: 130px;
  font-weight: bolder;
  font-family: 'Tangerine', cursive;
  text-align: center;
  text-shadow: 1px 1px 1px #0B1211;
}

.tabs {
  color: #A8B5B4;
  display: inline;
  font-size: 35px;
  font-family: 'PT Sans', sans-serif;
  list-style-type: none;
  text-decoration: none;
  text-shadow: 1px 1px 1px #0B1211;
  margin-left: 20px;
  margin-right: 20px;
}

.tabs:hover {
  color: #F0DB81;
  text-shadow: 2px 2px 2px #0B1211;
  text-decoration: none;
}

.nav {
  text-align: right;
  margin-bottom: 20px;
  margin-left: 2px;
  margin-right: 2px;
}

.nav-one {
  background-color: #50958E;
  border: 2px solid #003630;
  box-shadow: 10px 10px 5px #A8B5B4;
  text-align: right;
  margin-bottom: 20px;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.home-image {
  border: .8px solid #0B1211;
  box-shadow: 10px 10px 5px #19675F;
  border-radius: 500px;
  margin-bottom: 20px;
  margin-top: 20px;
  opacity: .75;
}

.member {
  background-color: #50958E;
  border: 2px solid #003630;
  box-shadow: 10px 10px 5px #A8B5B4;
  color: #0B1211;
  font-family: 'PT Sans', sans-serif;
  margin: 20px;
  padding: 20px;
  text-align: right;
}

.member-one {
  color: #A8B5B4;
  font-size: 70px;
  text-align: center;
  text-shadow: 1px 1px 1px #0B1211;
}

.signin {
  font-size: 22px;
  margin-left: 40px;
}

.account {
  color: #F0DB81;
  font-size: 34px;
  margin-top: 10px;
  text-align: left;
  text-shadow: 1px 1px 1px #0B1211;
}

.register {
  margin: 20px;
}

.user-one {
  border-bottom: 1px solid #F0DB81;
  color: #F0DB81;
  font-family: 'Tangerine', cursive;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  text-shadow: 1.5px 1.5px 1.5px #0B1211;
}

.selection {
  color: #F0DB81;
  display: block;
  font-size: 100px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  text-align: center;
  text-shadow: 3px 3px 3px #003630;
}

.options {
  background-color: #A8B5B4;
  border: 2px solid #0B1211;
  border-radius: 60px;
  box-shadow: 10px 10px 5px #50958E;
  color: #50958E;
  display: block;
  font-family: 'Tangerine', sans-serif;
  margin: 20px;
  margin-left: 60px;
  padding: 20px;
  text-align: center;
  text-shadow: 1px 1px 1px #0B1211;
}

.character-image {
  border: .5px solid #0B1211;
  display: inline-block;
  padding: 5px;
  opacity: .7;
  border-radius: 1000px;
}

.character-name {
  border-bottom: 1px solid #50958E;
  color: #50958E;
  display: block;
  font-size: 60px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bolder;
  padding: 5px;
  text-align: center;
  text-shadow: 2px 2px 2px #003630;
}

.description {
  color: #0B1211;
  font-size: 18px;
  font-family: 'PT Sans', sans-serif;
  padding: 5px;
  text-align: center;
  text-shadow: 1px 1px 1px #50958E;
}

.title {
  color: #0B1211;
  font-size: 65px;
  font-family: 'Tangerine', cursive;
  text-align: center;
  text-shadow: 1px 1px 1px #50958E;
}

.select {
  background-color: #50958E;
  border: 2px solid #0B1211;
  color: #0B1211;
  font-size: 25px;
  font-family: 'PT Sans', sans-serif;
  padding: 5px;
  text-shadow: 1px 1px 1px #A8B5B4;
}

.select:hover {
  background-color: #19675F;
  box-shadow: 3px 3px 1px #19675F;
  color: #F0DB81;
  opacity: .8;
  text-decoration: none;
  text-shadow: 2px 2px 2px #0B1211;
}

.story {
  background-color: #50958E;
  border: 2px solid #0B1211;
  border-radius: 60px;
  box-shadow: 10px 10px 5px #19675F;
  margin: 20px;
  padding: 20px;
}
 .story-title {
  border-bottom: 1px solid #003630;
  color: #A8B5B4;
  display: block;
  font-size: 80px;
  font-family: 'Tangerine', sans-serif;
  margin: 10px;
  padding: 10px;
  text-align: center;
  text-shadow: 1px 1px 1px #0B1211;
}

.story-content {
  color: #A8B5B4;
  font-size: 30px;
  font-family: 'PT Sans', sans-serif;
  padding: 20px;
  text-align: left;
  text-shadow: 1px 1px 1px #003630;
}

.story-image {
  border: .5px solid #0B1211;
  display: block;
  padding: 5px;
  opacity: .7;
  border-radius: 1000px;
  text-align: center;
}

.choice-one {
  background-color: #19675F;
  border: 2px solid #0B1211;
  color: #0B1211;
  display: inline-block;
  font-size: 40px;
  font-family: 'Tangerine', cursive;
  margin: 20px;
  padding: 30px;
}

.choice-two {
  background-color: #19675F;
  border: 2px solid #0B1211;
  color: #0B1211;
  display: inline-block;
  font-size: 40px;
  font-family: 'Tangerine', cursive;
  margin: 20px;
  padding: 30px;
}

.choice-one:hover {
  background-color: #19675F;
  box-shadow: 1px 1px 1px 1px #A8B5B4;
  color: #F0DB81;
  opacity: .8;
  text-decoration: none;
  text-shadow: 1px 1px 1px #0B1211;
}

.choice-two:hover {
  background-color: #19675F;
  box-shadow: 1px 1px 1px #A8B5B4;
  color: #F0DB81;
  opacity: .8;
  text-decoration: none;
  text-shadow: 1px 1px 1px #0B1211;
}