.main {
  color: #A8B5B4;
  font-size: 100px;
  font-family: 'Tangerine', cursive;
  text-align: center;
  text-shadow: 1px 1px 1px #0B1211;
}

.tabs {
  display: block;
  font-size: 25px;
  font-family: 'PT Sans', sans-serif;
  height: 200px;
  text-align: right;
}

.member {
  background-color: #50958E;
  border: 2px solid #003630;
  box-shadow: 10px 10px 5px #A8B5B4;
  color: #0B1211;
  font-family: 'PT Sans', sans-serif;
  height: 400px;
  padding: 20px;
  text-align: right;
  width: 850px;
}

.member-one {
  color: #A8B5B4;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 1px #0B1211;
}

.member-two {
  font-size: 18px;
  margin-top: 25px;
  padding: 10px;
  text-align: left;
  text-shadow: 1px 1px 1px #A8B5B4;
}

.signin {
  font-size: 16px;
  margin-top: 40px;
  margin-left: 20px;
}